* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* border: 5px dashed red; */
  min-height: 100vh;
  text-align: center;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  background-color: #7B879D;
  margin: 0;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 1.5;
  font-size: 1rem;
}

.main-body {
  flex-grow: 1;
}

/* Top Container Section */
#top-container {
  text-align: center;
  margin: 9.2rem auto;
}

.card-body {
  background-color: #FFFFFF;
  width: 18rem;
  border-radius: 1rem;
}

.QR-img {
  width: 16rem;
  border-radius: 0.5rem;
}

.card-title {
  font-weight: 700;
  margin: 1rem;
}

.QR-text {
  color: #8F8F8F;
  margin: 1rem;
}

/* Footer section */
#footer {
  background-color: #FFFFFF;
  font-size: 0.9rem;
  padding: 0.1rem;
}

.footer-text {
  display: inline-block;
  margin: 2rem;
}

.footer-link {
  color: #11999E;
  text-decoration: none;
}

.footer-link:hover {
  color: #E5890A;
}

/* Media Query & Breakpoints */
@media (max-width:627px) {
  .footer-text {
    margin: 1rem;
  }
}
